<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        NOTE: This app makes a network request on launch.
        Make sure it has everything it needs to do that.
    -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArticleReader">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ArticleReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
